.headlineSection {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .HeadlineAdditional {
    margin-top: 10rem;
  }
}

.introductionSection {
  position: relative;
  margin-top: -5rem;

  .imgWithText {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
  }
  .TGAdditional {
    margin-top: 10rem;
  }
  .BGTextAdditional {
    position: relative;
    left: 22rem;
    top: 6rem;
  }
  .BGTextAdditionalTwo {
    position: relative;
    top: 5rem;
  }
}

.callToActionSection {
  margin-top: 7rem;
}

.cta-image {
  margin-bottom: -1rem;
  filter: drop-shadow(0 0 0 none);
}
