@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 1px; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  color: #232426;
  font-size: 2rem;
  font-family: "Oswald", sans-serif; }

main {
  margin: 0 10rem; }

.headline {
  max-width: 700px;
  display: block; }

.main-heading {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase; }

.firstPartHeading {
  font-size: 20rem; }

.secondPartHeading {
  margin-left: 2.5rem;
  font-size: 13rem; }

.main-subHeading {
  margin-top: -4.5rem;
  font-size: 5rem;
  text-transform: uppercase; }

.section-heading {
  font-size: 9rem;
  font-weight: bold;
  text-transform: uppercase; }

.section-subHeading {
  font-size: 2.2rem; }

.imgContainerH {
  position: relative;
  overflow: hidden;
  filter: drop-shadow(10px 15px 20px #23242650); }

.imgContainerV {
  position: relative;
  overflow: hidden;
  filter: drop-shadow(10px 15px 20px #23242650); }

.image--horizontal {
  width: 100%; }

.image--vertical {
  width: 100%; }

.background-text {
  color: #e3e3e3;
  text-transform: uppercase;
  font-weight: bold; }

.small {
  font-size: 14rem; }

.medium {
  font-size: 16rem; }

.big {
  font-size: 20rem; }

.label {
  color: #2b2a2a;
  font-size: 2.5rem;
  font-weight: 500; }

.text {
  margin-top: 1rem;
  color: #2b2a2a;
  font-size: 2rem;
  font-weight: 400; }

.textGroup {
  max-width: 600px; }

.TextGroup-title {
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase; }

.TextGroup-text {
  font-size: 2rem;
  margin: 2rem 0 10rem; }

.TextGroup-spec {
  margin: 0.5rem 0 5rem;
  font-size: 2.5rem;
  text-transform: uppercase; }

.TextGroup-actionBTN {
  font-size: 3.5rem;
  color: #232426;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase; }

.CTASection {
  position: relative; }

.CTA-Headline {
  position: relative;
  top: -11rem;
  left: 11rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12rem;
  line-height: 12rem; }
  .CTA-Headline span {
    margin-left: 13rem; }
  .CTA-Headline .subText {
    margin-left: -3rem;
    font-size: 3.5rem;
    text-transform: none;
    font-weight: normal; }

.navBar {
  margin: 2rem 5rem 0rem;
  display: flex;
  align-items: center; }
  .navBar img {
    width: 50%; }

.navBarActions {
  display: flex;
  justify-content: space-between;
  width: 90%; }
  .navBarActions ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 2.5rem; }
    .navBarActions ul .listElement {
      color: #232426;
      text-decoration: none; }
  .navBarActions button {
    font-weight: bold;
    font-size: 2.5rem;
    background-color: transparent;
    border: 3px solid #232426;
    padding: 0.5rem 1rem; }

footer {
  width: 100%;
  height: 200px;
  background-color: #232426; }

.headlineSection {
  display: flex;
  flex-direction: column;
  gap: 4rem; }
  .headlineSection .HeadlineAdditional {
    margin-top: 10rem; }

.introductionSection {
  position: relative;
  margin-top: -5rem; }
  .introductionSection .imgWithText {
    display: flex;
    gap: 8rem; }
  .introductionSection .TGAdditional {
    margin-top: 10rem; }
  .introductionSection .BGTextAdditional {
    position: relative;
    left: 22rem;
    top: 6rem; }
  .introductionSection .BGTextAdditionalTwo {
    position: relative;
    top: 5rem; }

.callToActionSection {
  margin-top: 7rem; }

.cta-image {
  margin-bottom: -1rem;
  filter: drop-shadow(0 0 0 none); }
