@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 1px; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  color: #232426;
  font-size: 2rem;
  font-family: "Oswald", sans-serif; }

main {
  margin: 0 3rem; }

.headline {
  max-width: 700px;
  display: block; }

.main-heading {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase; }

.firstPartHeading {
  font-size: 20rem; }

.secondPartHeading {
  margin-left: 2.5rem;
  font-size: 15rem; }

.main-subHeading {
  margin-top: -4.5rem;
  font-size: 5rem;
  text-transform: uppercase; }

.section-heading {
  font-size: 9rem;
  font-weight: bold;
  text-transform: uppercase; }

.section-subHeading {
  font-size: 2.2rem; }

.image--horizontal {
  width: 100%;
  aspect-ratio: 16/9;
  filter: drop-shadow(10px 15px 20px #23242650); }

.image--vertical {
  width: 100%;
  aspect-ratio: 12/16;
  filter: drop-shadow(10px 15px 20px #23242650); }

.background-text {
  color: #e3e3e3;
  text-transform: uppercase;
  font-weight: bold; }

.small {
  font-size: 14rem; }

.medium {
  font-size: 16rem; }

.big {
  font-size: 20rem; }

.label {
  color: #2b2a2a;
  font-size: 2.5rem;
  font-weight: 500; }

.text {
  margin-top: 1rem;
  color: #2b2a2a;
  font-size: 2rem;
  font-weight: 400; }

.textGroup {
  max-width: 600px; }

.TextGroup-title {
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase; }

.TextGroup-text {
  font-size: 2rem;
  margin: 2rem 0 3rem; }

.TextGroup-spec {
  margin: 0.5rem 0 5rem;
  font-size: 2.5rem;
  text-transform: uppercase; }

.TextGroup-actionBTN {
  font-size: 3.5rem;
  color: #232426;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase; }
